:root {
    /* Theme variable */
    --prime-background: #fff;
    --second-background: #eef6fa;

    /* Separator */
    --separator-first-line: #5280A6;
    --separator-second-line: #2687D6;
    --separator-text: #5280a6;
    --separator_background: #D7E1ED;

    /* Data-Objects */
    --object-value: #1a366c;
    --object-text: #585d64;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: league-gothic;
    src: url("../assets/fonts/leaguegothic-regular.woff");
}
body {
    display: flex;
    justify-content: center;

    margin: 0;

    background-color: #252424;

    font-family: sans-serif;
    font-size: 60px;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;

    height: 100%;
    width: 100%;
}
.container.vertical { flex-direction: column; }
.container.middle { align-items: center;}
.container.bottom { align-items: end; }
.container.top { align-items: start; }
.container.center { justify-content: center; }
.container.right { justify-content: right; }

.separator {
    height: auto;
    width: 100%;
}
.separator svg {
    display: block;
    width: 100%;
}
.separator .bottom { transform: rotate(180deg); }
.separator svg .first-line { fill: var(--separator-first-line); }
.separator svg .second-line { fill: var(--separator-second-line); }
.separator svg .background { fill: var(--separator_background); }
.separator .body {

    width: 100%;
    height: auto;
    margin: 0;
    padding: 3%;

    text-align: center;

    font-family: league-gothic, sans-serif;
    font-variant: all-small-caps;
    color: var(--separator-text);
    font-size: 1.5em;

    background-color: var(--separator_background);

}

.bar-chart {
    width: 100%;
    height: 100%;
}

.data-object {
    display: flex;

    width: 100%;
    height: auto;

    padding: 3%;
}
.data-object .icon {
    width: 20%;
}
.data-object .body {
    display: flex;

    width: 100%;
    height: 100%;

    margin-left: 3%;

    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.data-object .body .value {

    display: flex;

    width: 100%;
    height: 60%;

    color: var(--object-value);
    font-size: 1.5em;
    font-weight: 900;

    align-items: center;
}
.data-object .body .text {
    width: 100%;
    height: 40%;

    color: var(--object-text);
    font-size: 0.65em;

    align-items: center;
}

#header {
    height: 20vh;
    padding-top: 1vh;

    background-color: var(--prime-background);
}
#header .logo {

    width: auto;
    height: 100%;

}
#header + .separator .top {
    background-color: var(--prime-background);
}

#main-container {
    max-width: 1024px;

    background-color: var(--second-background);
}

#alert {
    display: none;

    width: 100%;
    height: auto;

    padding: 1%;

    background-color: var(--prime-background);

    font-family: sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    font-variant: all-small-caps;
    color: #1a366c;
    text-align: center;
}

#map {
    position: relative;

    margin-top: 5%;

    width: 100%;
    height: auto;
}

#data-container {
    height: auto;
}

#footer .body {

    display: flex;

    width: 100%;
    padding: 3%;

    align-items: center;
    justify-content: center;

}
#footer .body img {
    width: auto;
}
#footer .body p {
    width: 60%;
    margin-left: 4%;
}

@media screen and (min-width: 1024px){

    #main-container {
        border: 10px solid black;
    }

    #alert {
        display: block;
    }

}