:root {
    /* Theme variable */
    --prime_background: #fff;
    --second_background: #eef6fa;

    /* Separator */
    --separator_first_line: #5280A6;
    --separator_second_line: #2687D6;
    --separator_text: #5280a6;
    --separator_background: #D7E1ED;

    /* Data-Objects */
    --object-value: #1a366c;
    --object-text: #585d64;

    /* Map Pins */
    --pin: #F8A52B;
    --pin_selected: #fa7420;

    /* Menu */
    --menu_size: 130px;
    --menu_background: #1a366c;
    --menu_text: white;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: league-gothic;
    src: url("../assets/fonts/leaguegothic-regular.woff");
}
body {
    display: flex;
    justify-content: center;

    margin: 0;

    background-color: #252424;

    font-family: sans-serif;
    font-size: 60px;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;

    height: 100%;
    width: 100%;
}
.container.vertical { flex-direction: column; }
.container.middle { align-items: center;}
.container.bottom { align-items: end; }
.container.top { align-items: start; }
.container.center { justify-content: center; }
.container.right { justify-content: right; }

.menu {
    position: fixed;
    top: 0;
    right: 0;

    width: var(--menu_size);
    height: var(--menu_size);

    cursor: pointer;

    border-bottom-left-radius: 25%;
    background-color: var(--menu_background);

    background-image: url("../assets/menu.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 999;

}
.menu .content {
    display: none;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}
.menu .content .close-menu {

    position: absolute;
    top: calc( var(--menu_size) / 2);
    right: calc( var(--menu_size) / 2);

    width: var(--menu_size);
    height: var(--menu_size);

    border: 0;

    cursor: pointer;

    background: transparent url("../assets/close-menu.svg") no-repeat center;
    background-size: 50%;
}
.menu .content ul {
    list-style: none;
}
.menu .content a {
    color: var(--menu_text);
    text-decoration: none;

    font-size: 2em;
    font-weight: bold;
    font-family: league-gothic, sans-serif;
}
.menu.opened {
    width: 100%;
    height: 100%;

    cursor: unset;

    background-image: unset;
    border-bottom-left-radius: unset;
}

.separator {
    height: auto;
    width: 100%;
}
.separator svg {
    display: block;
    width: 100%;
}
.separator .bottom { transform: rotate(180deg); }
.separator svg .first-line { fill: var(--separator_first_line); }
.separator svg .second-line { fill: var(--separator_second_line); }
.separator svg .background { fill: var(--separator_background); }
.separator .body {

    width: 100%;
    height: auto;
    margin: 0;
    padding: 3%;

    text-align: center;

    font-family: league-gothic, sans-serif;
    font-variant: all-small-caps;
    color: var(--separator_text);
    font-size: 1.5em;

    background-color: var(--separator_background);

}

.bar-chart {
    width: 100%;
    height: 100%;
}

.data-object {
    display: flex;

    width: 100%;
    height: auto;

    padding: 3%;
}
.data-object .icon {
    width: 20%;
}
.data-object .body {
    display: flex;

    width: 100%;
    height: 100%;

    margin-left: 3%;

    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.data-object .body .value {

    display: flex;

    width: 100%;
    height: 60%;

    color: var(--object-value);
    font-size: 1.5em;
    font-weight: 900;

    align-items: center;
}
.data-object .body .text {
    width: 100%;
    height: 40%;

    color: var(--object-text);
    font-size: 0.65em;

    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
    0% { height: 0;}
    25% { height: 0;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0;}
}

#loader-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

#main-container {
    display: none;

    max-width: 1024px;

    background-color: var(--second_background);
}

#header {
    position: relative;

    height: 20vh;
    padding-top: 1vh;

    background-color: var(--prime_background);
}
#header .logo {

    width: auto;
    height: 100%;

}
#header + .separator .top {
    background-color: var(--prime_background);
}

#map {
    position: relative;

    margin-top: 5%;

    width: 100%;
    height: auto;
}
#map .pin {
    position: absolute;

    width: 8%;
    cursor: pointer;
}
#map .pin svg {
    fill: var(--pin);
}
#map .pin.selected svg {
    fill: var(--pin_selected);
}
#map .continent svg {
    position: relative;
    z-index: 2;
}
#map .continent div {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60%;

    padding: 5%;

    font-size: 0.7em;
    color: white;

    border-radius: 100%;
    background-color: rgba(35, 28, 28, 0.73);

    transition: transform 1s ease-out;

    z-index: 1;
}
#map .continent div span {
    font-size: 0.6em;
}
#map .continent.selected div.selected {
    background-color: var(--pin_selected);
}
#map #italy {
    top: 2.5%;
    left: 44.5%;
}
#map #asia {
    top: 17%;
    right: 14%;
}

#data-container {
    height: auto;
}

#footer .body {

    display: flex;

    width: 100%;
    padding: 3%;

    align-items: center;
    justify-content: center;

}
#footer .body img {
    width: 40%;
}
#footer .body a {
    width: 60%;
    margin-left: 4%;

    text-decoration: none;
    color: var(--separator_text)

}

@media screen and (min-width: 1024px){

    .menu {
        right: calc((100% - 1024px) / 2);
    }

    .menu.opened {
        width: 1024px;
    }

}
@media screen and (max-width: 750px) {

    body {
        font-size: 50px;
    }

}
@media screen and (max-width: 630px) {


    :root {
        --menu_size: 110px;
    }

    body {
        font-size: 40px;
    }

}
@media screen and (max-width: 510px) {

    :root {
        --menu_size: 90px;
    }

    body {
        font-size: 30px;
    }

}
@media screen and (max-width: 370px) {

    :root {
        --menu_size: 70px;
    }

    body {
        font-size: 20px;
    }

}
@media screen and (max-width: 260px) {

    :root {
        --menu_size: 50px;
    }

    body {
        font-size: 18px;
    }

}